/* Modal base styles */
.Form {
  display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 238px;
    padding: 0 10px;
}

.ModalTitle {
  font-size: 1.25rem;
}

