/* Modal base styles */
.Form {
  display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 238px;
    padding: 0 10px;
}

.ModalTitle {
  font-size: 1.25rem;
}

.Select {
  display: block;
  align-items: center;
  width: 100%;
  min-width: 238px;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;  
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;

}

.Tag {
  font-size: 13px;
  background-color: #604274 !important;
  margin-right: 2px;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #fff;
}