/* body.swal2-shown {
    overflow: hidden !important;
}

.my-alert-popup {
    font-family: 'Arial', sans-serif;
    background-color: white; 
    color: #333333; 
    border-radius: 10vh; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    padding: 20px;
    max-width: 80%; 
    min-width: 250px; 
    overflow: auto; 
} */